Picture Processor For Tennis.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"cognitiveservicescomputervision_Connection_Name":{"defaultValue":"cognitiveservicescomputervision","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"faceapi_Connection_Name":{"defaultValue":"faceapi","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","name":"[parameters('logicAppName')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"},"sharepoint.folderPath":{"defaultValue":"","type":"String"}},"triggers":{"When_a_file_is_created_(properties_only)":{"recurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewFileItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://tycorusa.sharepoint.com/sites/TycorUSAPR'))}/tables/@{encodeURIComponent(encodeURIComponent('980238f7-63d5-4682-9b66-bc342efa781f'))}/onnewfileitems","authentication":"@parameters('$authentication')"},"description":"Looking at Image Catalog Document Library"}},"actions":{"Analyze_Image":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"AnalyzeImage"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['cognitiveservicescomputervision']['connectionId']"}},"method":"post","body":"@body('Get_file_content_using_path')","path":"/vision/v2.0/analyze","queries":{"format":"Image Content","visualFeatures":"Tags,Description,Categories"},"authentication":"@parameters('$authentication')"},"description":"Submitting the Image Content Object to Cognitive Services Image Analysis Service"},"Initialize_variable_tags_with_no_scoring":{"runAfter":{"Initialize_variable_categories":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Tags","type":"String"}]}},"Get_file_content_using_path":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://tycorusa.sharepoint.com/sites/TycorUSAPR'))}/GetFileContentByPath","queries":{"path":"@{triggerBody()?['{Path}']}@{triggerBody()?['{FilenameWithExtension}']}","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"},"description":"Get File Content as Image by extracting using the file path from the file that was created"},"Initialize_variable_categories":{"runAfter":{"Initialize_variable_Caption":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"categories","type":"String"}]}},"Apply_to_each_category":{"foreach":"@body('Analyze_Image')?['categories']","actions":{"Append_to_string_variable_Categories_No_Scoring":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"categories","value":"@items('Apply_to_each_category')?['name']"}},"Append_to_string_variable_Categories_with_Scoring":{"runAfter":{"Append_to_string_variable_Categories_No_Scoring":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"CategoriesScored","value":"@{items('Apply_to_each_category')?['name']} [@{items('Apply_to_each_category')?['score']}] "}}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"Foreach","description":"Extracting all of the categories"},"Update_file_properties":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchFileItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"patch","body":{"Title":"@{variables('Caption')} (@{triggerBody()?['ID']})","API_x0020_Age":"@variables('Age')","API_x0020_Caption":"@variables('Caption')","API_x0020_Category":"@variables('categories')","API_x0020_Object_x0020_Detected":"@variables('DetectedObjects')","API_x0020_Smile":"@variables('Smile')","API_x0020_Tags":"@variables('Tags')","API_x0020_Analyze_x0020_Response":"@{string(body('Analyze_Image'))}","API_x0020_Caption_x0020_Confidence":"@variables('Caption Confidence')","API_x0020_Tags_x0020_Scored":"@variables('TagsScored')","API_x0020_Objects_x0020_Detected_x0020_Score":"@variables('ObjectsScored')","Categoried_x0020_Scored":"@variables('CategoriesScored')","API_x0020_Gender":"@variables('Gender')","{ContentType}":{"Id":"0x010100980AB4F5F5893543BD1CBAE1A88B7E2F008CAED6CFAAD3E24D99EE93263D8D8E0D"}},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://tycorusa.sharepoint.com/sites/TycorUSAPR'))}/tables/@{encodeURIComponent(encodeURIComponent('980238f7-63d5-4682-9b66-bc342efa781f'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}/patchfileitem","authentication":"@parameters('$authentication')"},"description":"Updating the Flle Object with the metadata that we have collected"},"Initialize_variable_Caption":{"runAfter":{"Detect_faces":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Caption","type":"String"}]}},"Apply_to_each":{"foreach":"@body('Analyze_Image')?['description']?['captions']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Caption","value":"@items('Apply_to_each')?['text']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Caption Confidence","value":"@items('Apply_to_each')?['confidence']"}}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"Foreach","description":"Extracting Information into variables from analyse image Captions"},"Initialize_variable_Tags_Confidence_Scoring":{"runAfter":{"Initialize_variable_Objects_With_Scoring":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TagsConfidence","type":"Float"}]}},"Initialize_variable_CategoryConfidence":{"runAfter":{"Initialize_variable_Tags_Confidence_Scoring":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CategoryConfidence","type":"Float"}]}},"Initialize_variable_Caption_Confidence":{"runAfter":{"Initialize_variable_CategoryConfidence":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Caption Confidence","type":"Float"}]}},"Detect_Objects":{"runAfter":{"Apply_to_each_category":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DetectObjects"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['cognitiveservicescomputervision']['connectionId']"}},"method":"post","body":"@body('Get_file_content_using_path')","path":"/vision/v2.0/detect","queries":{"format":"Image Content"},"authentication":"@parameters('$authentication')"},"description":"Asking the Image API to identify Objects in the Picture"},"Initialize_variable_Objects_Detected":{"runAfter":{"Initialize_variable_Categories_With_Scoring":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DetectedObjects","type":"String"}]}},"Apply_to_each_3":{"foreach":"@body('Detect_Objects')?['objects']","actions":{"Append_to_string_variable_Detected_Objects":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"DetectedObjects","value":"@{items('Apply_to_each_3')?['object']} "}},"Append_to_string_variable_Detected_Objects_with_Scoring":{"runAfter":{"Append_to_string_variable_Detected_Objects":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ObjectsScored","value":"@{items('Apply_to_each_3')?['object']} [@{items('Apply_to_each_3')?['confidence']}]"}}},"runAfter":{"Detect_Objects":["Succeeded"]},"type":"Foreach","description":"Extracting all of the Objects from Image"},"Initialize_variable_3":{"runAfter":{"Initialize_variable_Objects_Detected":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ObjectDetectResponse","type":"String"}]}},"Initialize_variable_Tags_With_Scoring_Information":{"runAfter":{"Initialize_variable_tags_with_no_scoring":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TagsScored","type":"String"}]}},"Initialize_variable_Objects_With_Scoring":{"runAfter":{"Initialize_variable_Tags_With_Scoring_Information":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ObjectsScored","type":"String"}]}},"Initialize_variable_Categories_With_Scoring":{"runAfter":{"Initialize_variable_Caption_Confidence":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CategoriesScored","type":"String"}]}},"Apply_to_each_2":{"foreach":"@body('Analyze_Image')?['tags']","actions":{"Append_to_string_Tags":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"Tags","value":" @{items('Apply_to_each_2')?['name']}"}},"Append_to_string_Tags_with_Scoring":{"runAfter":{"Append_to_string_Tags":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"TagsScored","value":"@{items('Apply_to_each_2')?['name']}  [@{items('Apply_to_each_2')?['confidence']}] "}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Foreach","description":"Extracting information into Variable for the Tags"},"Detect_faces":{"runAfter":{"Analyze_Image":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"Detect"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['faceapi']['connectionId']"}},"method":"post","body":{"url":"@triggerBody()?['{Thumbnail}']?['Large']"},"path":"/face/v1.0/detect","queries":{"returnFaceId":"true","returnFaceAttributes":"age,gender,headPose,smile,facialHair,glasses","returnFaceLandmarks":"true"},"authentication":"@parameters('$authentication')"},"description":"Submitting the URL to the Large Thumbnail to the FACE API for Face API Recognition"},"Apply_to_each_4":{"foreach":"@body('Detect_faces')","actions":{"Set_variable_Gender":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Gender","value":"@items('Apply_to_each_4')?['faceAttributes']?['gender']"}},"Set_variable_Age":{"runAfter":{"Set_variable_Gender":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Age","value":"@items('Apply_to_each_4')?['faceAttributes']?['age']"}},"Set_variable_Smile":{"runAfter":{"Set_variable_Age":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Smile","value":"@items('Apply_to_each_4')?['faceAttributes']?['smile']"}}},"runAfter":{"Initialize_variable_Smile_Factor":["Succeeded"]},"type":"Foreach","description":"Setting Variable Information Associated to the Face API"},"Initialize_variable_Gender":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Gender","type":"String"}]}},"Initialize_variable_Age":{"runAfter":{"Initialize_variable_Gender":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Age","type":"Float"}]}},"Initialize_variable_Smile_Factor":{"runAfter":{"Initialize_variable_Age":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Smile","type":"Float"}]}}},"description":"Image Processing System - Face API - Flow - SharePoint - Image Detect Demonstration"},"parameters":{"$connections":{"value":{"cognitiveservicescomputervision":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'cognitiveservicescomputervision')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('cognitiveservicescomputervision_Connection_Name'))]","connectionName":"[parameters('cognitiveservicescomputervision_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"faceapi":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'faceapi')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('faceapi_Connection_Name'))]","connectionName":"[parameters('faceapi_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}}}},"dependsOn":["[resourceId('Microsoft.Web/connections', parameters('cognitiveservicescomputervision_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('faceapi_Connection_Name'))]"]},{"type":"Microsoft.Web/connections","name":"[parameters('cognitiveservicescomputervision_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'cognitiveservicescomputervision')]"},"displayName":"[parameters('cognitiveservicescomputervision_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('sharepointonline_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","name":"[parameters('faceapi_Connection_Name')]","apiVersion":"2016-06-01","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'faceapi')]"},"displayName":"[parameters('faceapi_Connection_Name')]"}}]}